<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist List</title>
</head>
<body>
    <h1>Artists</h1>
    <ul>
        {% for artist in artists %}
    <div>
        <h2>{{ artist.name }}</h2>
        <p>{{ artist.biography }}</p>
        {% if artist.profile_image %}
            <img src="{{ artist.profile_image.url }}" alt="{{ artist.name }}">
        {% else %}
            <img src="/static/app/images/image.png" alt="Default Image">
        {% endif %}
    </div>
{% endfor %}

    </ul>
</body>
</html>
